-# frozen_string_literal: true
= simple_form_for(@menu, url: url_for([:admins, @menu]), html: {class: "devise-form ml-auto mr-auto"}) do |m|
  = m.error_notification
  = m.error_notification message: m.object.errors[:base].to_sentence if m.object.errors[:base].present?
  %p Date: #{menu_date(@menu)}
  = m.nested_fields_for :categories, wrapper_options: { class: 'border border-dark rounded p-4 mb-4' } do |c|
    = c.input :name, :label => "Category name"
    = c.nested_fields_for :items, wrapper_options: { class: 'border border-dark rounded p-2 mb-2' } do |i|
      = i.input :name, :label => "Item name"
      = i.input :price, :label => "Item price ($)"
      = i.input :image, :label => "Item image"
    = c.add_nested_fields_link :items, 'Add item', class: 'btn btn-primary', role: 'button'
  = m.add_nested_fields_link :categories, 'Add category', class: 'btn btn-primary', role: 'button'
  .form-actions
    = m.button :submit, "Submit", class: "btn-primary text-center"
