%h2.text-center Admin
= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "devise-form ml-auto mr-auto"}) do |f|
  = f.error_notification
  = f.input :email, input_html: { autocomplete: 'email', autofocus: true }
  = f.input :password, input_html: { autocomplete: 'current-password' }
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean, class: "text-center"
  = f.button :submit, "Log in", class: "btn-primary text-center"
.text-center
  = render "users/shared/links"
