%h1.mt-3 Admin dashboard

%h3.mt-4 Calendar
.dashboard-calendar
  = week_calendar do |date|
    = render 'admins/calendars/cell', date: date,
      menus_count: count_items_per_cell(@menus_per_week, date),
      orders_count: count_items_per_cell(@orders_per_week, date)

%h3.mt-4 Last menus
= render 'admins/food/menus/collection', menus: @last_menus

%h3.mt-4 Last orders
= render 'admins/orders/collection', orders: @last_orders

%h3.mt-4 Last registered users
= render 'admins/users/collection', users: @last_users
